<div th:fragment="items" xmlns:th="http://www.w3.org/1999/xhtml">


	<nav class="navbar navbar-static-top">
		<div class="container"
			style="margin-left: 10px; margin-right: 10px; width: 98%">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" style="padding: 10px 15px"> <!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><img src="/img/logo2.png"
						style="width: 2em" /> <b>Parcerias</b>IFRS</span>
				</a>

				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse"
					aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

</div>